{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'mainapp/css/styles.css' %}">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<nav class="menu">
    <input checked="checked" class="menu-toggler" type="checkbox">
      <label for="menu-toggler"></label>
        <ul>
          <li class="menu-item">
            <a class="fa fa-facebook"href="#"></a>
          </li>
          <li class="menu-item">
            <a class="fa fa-google"href="#"></a>
          </li>
          <li class="menu-item">
            <a class="fa fa-instagram"href="#"></a>
          </li>
          <li class="menu-item">
            <a class="fa fa-codepen"href="#"></a>
          </li>
          <li class="menu-item">
            <a class="fa fa-linkedin" href="#"></a>
          </li>
          <li class="menu-item">
            <a class="fa fa-github"href="#"></a>
          </li>
        </ul>
  </nav>
    <h3>Home</h3>
<a href="http://127.0.0.1:8000/admin/">admin</a>
</body>
</html>